<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New message</title>
  </head>
  <body>
    <form action="/new" method="post">
      <textarea
        name="messageText"
        id="messageText"
        cols="30"
        rows="10"
        placeholder="Message Text"
        required
      ></textarea>
      <input type="text" name="messageUser" placeholder="Username" required />
      <button>Send message</button>
    </form>
  </body>
</html>
