<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <% for (let i = 0; i < messages.length; i++) { %>
    <p>
      <%= messages[i].text %> - <%= messages[i].user %> - <%= messages[i].added
      %>
    </p>
    <% } %>
    <form action="/" method="post">
      <input type="text" name="messageUser" placeholder="Username" required />
      <textarea
        name="messageText"
        id="messageText"
        cols="30"
        rows="10"
        placeholder="Message Text"
        required
      ></textarea>
      <button>Send message</button>
    </form>
  </body>
</html>
