<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <% for (let i = 0; i < messages.length; i++) { %>
    <p>
      <%= messages[i].text %> - <%= messages[i].user %> - <%= messages[i].added
      %>
    </p>
    <% } %>
  </body>
</html>
